@import "commonVar.scss";
.c-cover-box {
  width:100%;
  height:100%;
}
.c-flex{
  display: flex;
}
.c-flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-flex-between{
  display: flex;
  justify-content: space-between;
}
.c-flex-row{
  display: flex;
  flex-direction: row;
}
.c-flex-column{
  display: flex;
  flex-direction: column;
}
.c-flex-item{
  flex:1;
}
